<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Please check your email</strong> for order confirmation.</p>
        <hr>
        <p>

        <p>Order Id : <strong>{{orderId}}</strong></p>
      </div>

      <mat-card class="col-md-12 mb-3">
        <table class="table">
          <thead class="table-light">
          <tr class="text-center">
            <th>Image</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of products" class="text-center">
            <td class="d-flex align-items-center justify-content-around" >
              <img [src]="item.image" alt="{{item.title}}" class="order-1" height="60">
            </td>
            <td><p>{{item.title}}</p></td>
            <td><p>{{item.quantity }}</p></td>
            <td><p>{{item.price | currency:'TZS':'Tsh '}}</p></td>
            <td><p>{{(item.quantity * item.price) | currency:'TZS':'Tsh '}}</p></td>
          </tr>
          <tr class="border-0">
            <td style="border: none;"></td>
            <td></td>
            <td></td>
            <td>TOTAL</td>
            <td>{{ cartTotal | currency:'TZS':'Tsh '}}</td>
          </tr>
          </tbody>
        </table>
      </mat-card>

    </div>
  </div>
</div>


