.product .product-img .product-label>span.sale {
  background-color: #FFF;
  border-color: #D10024;
  color: #D10024;
}
.product .product-img .product-label>span.sale-coupon {
  background-color: #FFF;
  border-color: #155724;
  color: #155724;
}
.product .product-img .product-label>span.sale {
  background-color: #FFF;
  border-color: #D10024;
  color: #D10024;
}

.product .product-img .product-label>span.green {
  background-color: #155724;
  border-color: #155724;
  color: #FFF;
}

.product .product-img .product-label>span.warning {
  background-color: #e0a800;
  border-color: #e0a800;
  color: #FFF;
}

.product .product-img .product-label>span.danger {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
}
