<ngx-spinner
  bdColor="rgba(151,149,149,0.4)" size="large" color="orange"
  type="ball-clip-rotate-pulse" fullScreen="true">
  <p style="font-size: 20px; color: green">Authenticating Credentials ...</p>
</ngx-spinner>
<!-- SECTION -->
<div class="section">
  <div class="container">
    <div class="card-flex">
      <div class="col-md-6 col-lg-3">
        <mat-card>
          <mat-card-title>LOGIN</mat-card-title>
          <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm)">
            <mat-card-content>
              <mat-form-field>
                <input matInput name="username" ngModel required #username="ngModel"
                       type="text" placeholder="username">
              </mat-form-field>
              <mat-form-field>
                <input matInput name="password" ngModel required #password="ngModel"
                       type="password" placeholder="password">
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <div class="align-items-center justify-content-around">
                <button type="submit" class="btn success-btn btn-sm btn-block"
                        [disabled]="loginForm.invalid && loginForm.touched">Login
                </button>
              </div>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- /SECTION -->
