<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="breadcrumb-header">Panel</h3>
        <ul class="breadcrumb-tree">
          <li class="active">Products</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- NAV BAR    -->
      <app-side-bar></app-side-bar>

      <div id="store" class="col-md-7">

<!--        <mat-card>-->
<!--          <mat-card-header>-->
<!--            <div mat-card-avatar class="example-header-image"></div>-->
<!--            <mat-card-title>{{userData.userId}}</mat-card-title>-->
<!--            <mat-card-subtitle>{{ userData.username }}</mat-card-subtitle>-->
<!--          </mat-card-header>-->
<!--          <div mat-card-image></div>-->
<!--          <mat-card-content>-->
<!--            <p>firstname: <strong>{{profile?.firstName}}</strong></p>-->
<!--            <p>Lastname: <strong>{{profile?.lastName}}</strong></p>-->
<!--            <p>phone: <strong>{{ profile?.phone }}</strong></p>-->
<!--            <p>user ID: <strong>{{userData.userId}}</strong></p>-->
<!--            <p>Username: <strong>{{ userData.username }}</strong></p>-->
<!--            <p>Role ID: <strong>{{ userData.role }}</strong></p>-->
<!--          </mat-card-content>-->
<!--          <mat-card-actions>-->
<!--            <button mat-button>LIKE</button>-->
<!--            <button mat-button>SHARE</button>-->
<!--          </mat-card-actions>-->
<!--        </mat-card>-->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
