<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-6 d-flex mx-auto flex-column" id="loginPage">
        <mat-card>
          <mat-card-title class="text-center">
            LOGIN
          </mat-card-title>
          <div class="col-md-12">
            <ngx-alerts></ngx-alerts>
          </div>
          <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm)">
            <div class="form-group">
              <label for="username">Email</label>
              <input name="username" ngModel required #username="ngModel" class="form-control" id="username" type="text">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" id="password" type="password" ngModel required #password="ngModel" name="password">
            </div>
            <div class="d-flex flex-column align-items-center justify-content-around">
              <button class="btn success-btn btn-sm btn-block" [disabled]="loginForm.invalid && loginForm.touched">Login</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
