<div id="aside" class="col-md-3">
    <div class="aside">
      <mat-card>
        <h3 class="aside-title">Menu</h3>
        <div class="checkbox-filter">
          <div class="input-checkbox">
            <label><span></span><a [routerLink]="['/product-view']"><i class="fa fa-briefcase"></i> Products</a></label>
          </div>
          <div class="input-checkbox">
            <label><span></span><a [routerLink]="['/order-view']" routerLinkActive="active"><i class="fa fa-opencart"></i> Orders</a></label>
          </div>
<!--          <div class="input-checkbox">-->
<!--            <label><span></span><a [routerLink]="['/profile']"><i class="fa fa-dollar"></i> Payment</a></label>-->
<!--          </div>-->
        </div>
      </mat-card>
    </div>
  </div>
