<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb-tree">
            <li><a [routerLink]="['/product-list']">All Categories</a></li>
            <li class="active">{{ product?.category }}</li>
            <li class="active">{{ product?.title }}</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /BREADCRUMB -->

  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- Product main img -->
        <div class="col-md-3">
          <div id="product-main-img">
            <div class="product-preview">
              <img [src]="product?.image" alt="">
            </div>
          </div>
        </div>
        <!-- /Product main img -->
        <!-- Product details -->
        <div class="col-md-4">
          <div class="product-details">
            <h2 class="product-name">{{ product?.title }}</h2>
            <div>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <a class="review-link" href="#">10 Review(s) | Add your review</a>
            </div>
            <div>
              <h3 class="product-price" *ngIf="product?.discount === 0">
                {{ cartService.handleDiscount(product?.price,product?.discount) |currency :'TZS':'TSh '}}
              </h3>
              <h3 class="product-price" *ngIf="product?.discount > 0">
                {{ cartService.handleDiscount(product?.price,product?.discount) | currency: 'TZS': 'TSh '}}
                <del class="product-old-price">
                  {{ product?.price |currency :'TZS':'TSh '}}
                </del>
              </h3>
            </div>
            <p>{{product?.description}}</p>
            <div class="add-to-cart">
              <div class="qty-label">
                Qty
                <div class="input-number">
                  <input #quantity [max]="product?.quantity" [min]="product?.quantity >= 1 ? product?.quantity : 0"
                         readonly type="number" value="{{product?.quantity >= 1 ? 1 : 0}}">
                  <span (click)="Increase()" class="qty-up">+</span>
                  <span (click)="Decrease()" class="qty-down">-</span>
                </div>
              </div>
              <button class="primary-btn" [class.disabled]="product?.quantity < 1"
                      [class.warning-btn]="product?.quantity < 1"
                      (click)="addToCart(product?.id)" [disabled]="product?.quantity < 1">
                {{ product?.quantity < 1 ? "NO STOCK" : "Add To Cart"}}
              </button>
            </div>
            <ul class="product-links">
              <li>Category:</li>
              <li><a >{{ product?.category }}</a></li>
            </ul>
            <ul class="product-links">
<!--              <mat-icon>location_on</mat-icon>-->
              <li> <i class="fa fa-map-marker"></i> <a> {{ product?.district }}, {{ product?.region }}</a></li>
            </ul>
          </div>
        </div>
        <!-- /Product details -->

        <!-- Product tab -->
        <div class="col-md-12">
          <div id="product-tab">
            <!-- product tab nav -->
            <ul class="tab-nav">
              <li *ngIf="this.productsList.length > 1" class="active"><a data-toggle="tab" href="#tab1"><h3 class="title">Related Products</h3></a></li>
              <li *ngIf="this.productsList.length <= 1" class="active"><a data-toggle="tab" href="#tab2"><h3 class="title">No Related Products</h3></a></li>
            </ul>
            <!-- /product tab nav -->
          </div>
        </div>
        <!-- /product tab -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->

  <!-- Section -->
  <div class="section" *ngIf="this.productsList.length > 1">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- product -->
        <div class="col-md-3 col-sm-6" *ngFor="let relate of this.productsList">
          <div class="product">
            <div class="product-img" style="height: 200px;">
              <img [src]="relate?.image" (click)="selectProduct(relate?.id)" alt="{{relate?.title}}">
              <div class="product-label">
                <span class="sale" *ngIf="relate?.discount > 0">-{{relate?.discount}}%</span>
                <!-- <span class="new">NEW</span>-->
              </div>
            </div>
            <hr>
            <div class="product-body">
              <p class="product-category">{{relate.category}}</p>
              <h3 class="product-name"><a (click)="selectProduct(relate.id)">{{relate.title}}</a></h3>
              <h4 class="product-price" *ngIf="relate.discount === 0">
                {{relate.price | currency:'TZS':'Tsh '}}</h4>
              <h4 class="product-price" *ngIf="relate.discount > 0">
                {{relate.price - (relate.price * (relate.discount/100)) | currency:'TZS':'Tsh '}}
                <del class="product-old-price">{{relate.price | currency:'TZS':'Tsh '}}</del></h4>
              <div class="">
                <button class="primary-btn" [class.disabled]="relate.quantity < 1"
                        [class.warning-btn]="relate.quantity < 1"
                        (click)="addToCart(relate.id)" [disabled]="relate.quantity < 1">
                  {{ relate.quantity < 1 ? "NO STOCK" : "Add To Cart"}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /product -->
        <div class="clearfix visible-sm visible-xs"></div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Section -->

